body {
    position: relative;
    min-width: 1040px;
    font: 18px Trebuchet MS, sans-serif;
    background: #d9c39c;
}

.shell {
    position: relative;
    overflow: hidden;
    width: 1024px;
    margin: 0 auto;
}

ul {
    margin-left: 40px;
}

.outer-list {
    margin: 0;
    padding: 0;
}

.button {
    display: none;
    margin-left: 10px;
    cursor: pointer;
}

.button.hovering {
    display: inline;
}

.text-field {
    width: 100%;
}

.phrase {
    background: rgba(0, 255, 0, 0.45);
}
